.modal-dialog {
    &.booster-gameon-modal {
        max-width: $window_width;
        height: 100vh;
        margin: 0 auto;
        .active-nav-indicator.con-detail {
            top: 45px;
        }
        .countdown {
            color: $white;
        }
        .modal-close {
            right: 20px;
            left: auto;
        }

        .modal-back {
            height: 20px;
            width: 20px;
            left: 20px;
            left: auto;
        }

        @media (max-width: 767px) {
            margin: 0;
        }

        .collection-description {
            font-size: 12px;
            line-height: 16px;
            font-family: $font-regular;
            color: $body_text_color;
            padding: 45px 15px 15px 15px;
            border-bottom: 1px solid $border_color;
            position: relative;

            .collection-info {
                height: 20px;
                position: absolute;
                left: 0;
                top: 15px;
                background: $primary;
                color: $white;
                border-radius: 0 100px 100px 0;
                font-size: 11px;
                text-transform: uppercase;
                padding: 3px 5px 3px 10px;
                width: 125px;
                font-weight: bold;
                font-family: $font-bold;
                letter-spacing: 1px;

                span {
                    margin-top: 2px;
                    position: relative;
                }

                i {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    left: 20px;
                    font-size: 13px;
                    line-height: 14px;
                }

                img {
                    transform: rotate(90deg);
                    display: inline-block;
                    transform-origin: 28px 30px;
                }
            }
        }

        .modal-content {
            border: 0;
            border-radius: 0;
            max-height: 100vh;
            overflow: auto;
        }

        .modal-header {
            padding: 8px 0px;
            border: 0;
            background: $white;
            z-index: 9;
            border-radius: 0;
            margin-top: 30px;
            .icon-close {
                color: $black;
            }
            .close {
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                font-size: 12px;
                right: auto;
            }

            .modal-title {
                line-height: 1;
                position: relative;
            }

            &.header-with-collection {
                padding: 0;

                h4 {
                    padding: 8px 10px 15px;
                    position: relative;
                }

                .modal-close {
                    top: 40%;
                    transform: translateY(-40%);
                }

                .fixture-list-content {
                    margin-bottom: 0;
                    box-shadow: none;
                }
            }
        }

        .match-heading {
            max-width: 250px;
            margin: 0 auto;

            .verses {
                color: $white;
                font-size: 14px;
                font-family: $font-bold;
                width: 20px;
                line-height: 14px;
            }

            .match-timing {
                margin-top: 3px;

                .time-line {
                    font-size: 11px;
                    color: $help_text_color;
                }
            }

            &.header-content {
                text-align: center;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .team-img-block {
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .team-header-detail {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 10px;

                    .team-header-content {
                        color: $white;
                        font-family: $font-bold;
                        font-size: 14px;
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    @media (max-width: 400px) {
                        margin: 0 5px;

                        .team-header-content {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }

                    @media (max-width: 320px) {
                        .team-header-content {
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        .modal-body {
            padding: 0;
            background: $white;
            height: calc(100vh - 108px);
            position: relative;
            .body-contents {
                .game-on {
                    margin-top: 20px;
                    color: $body_text_color2;
                    font-family: $font-bold;
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: center;
                }
                .your-team-has-been-submitted {
                    margin-top: 15px;
                    color: $body_text_color;
                    font-family: $font-book;
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: center;
                }
                .booster-circular {
                    &.booster-layout {
                        max-width: $window_width;
                        margin-top: 40px;
                        margin-left: 50px;
                        margin-right: 50px;

                        .booster-layout-header {
                            font-size: $font-size-h5;
                            font-family: $font-bold;
                            color: $primary_text_color;
                            text-transform: uppercase;
                            text-align: center;
                            position: relative;
                            padding: 60px 1.2rem 10px;
                            height: 417px;
                            border: 8px solid $border-popup;
                            border-radius: 22px;

                            .booster-layout-img-wrap {
                                border-radius: 100%;
                                padding: 13px;
                                background: $white;
                                position: absolute;
                                top: -35px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 86px;
                                height: 86px;
                                border: 8px solid $border-popup;

                                .wrap {
                                    border-radius: 100%;
                                    padding: 1px;
                                    background: $white;

                                    .img-booster {
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                            }
                            .boosters-text {
                                margin-top: 15px;
                                color: $body_text_color;
                                font-family: $font-bold;
                                font-size: 24px;
                                font-weight: bold;
                                letter-spacing: 0;
                                line-height: 24px;
                                text-align: center;
                            }
                            .apply-boosters-on {
                                margin-top: 10px;
                                color: $body_text_color;
                                font-family: $font-regular;
                                font-size: 20px;
                                letter-spacing: 0;
                                line-height: 24px;
                                text-align: center;
                                text-transform: none;
                            }
                            .team-name-container {
                                margin-left: 10px;
                                margin-right: 10px;
                                margin-top: 10px;
                                height: 39px;
                                border-radius: 6px;
                                background-color: $border-popup;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                .team-name {
                                    text-transform: none;
                                    color: $body_text_color;
                                    font-family: $font-bold;
                                    font-size: 20px;
                                    font-weight: bold;
                                    letter-spacing: 0;
                                    line-height: 24px;
                                    text-align: center;
                                }
                            }
                            .increase-your-winn {
                                text-transform: none;
                                margin-left: 10px;
                                margin-right: 10px;
                                margin-top: 10px;
                                color: $body_text_color;
                                font-family: $font-regular;
                                font-size: 20px;
                                letter-spacing: 0;
                                line-height: 24px;
                                text-align: center;
                            }
                            .apply-btn {
                                cursor: pointer;
                                border-radius: 20px;
                                margin-top: 50px;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                height: 44px;
                                margin-left: 20px;
                                margin-right: 20px;
                                background-color: $primary;
                                .apply-booster {
                                    text-transform: none;
                                    color: $white;
                                    font-family: $font-bold;
                                    font-size: 16px;
                                    font-weight: bold;
                                    letter-spacing: 0;
                                    line-height: 16px;
                                    text-align: center;
                                }
                            }
                            .what-are-boosters {
                                margin-top: 15px;
                                cursor: pointer;
                                height: 24px;
                                color: $help_text_color;
                                font-family: $font-bold-italic;
                                font-size: 12px;
                                letter-spacing: 0;
                                line-height: 24px;
                                text-align: center;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .skip-see-my-contest {
                    cursor: pointer;
                    margin-top: 20px;
                    text-transform: capitalize;
                    height: 18px;
                    color: $primary;
                    font-family: $font-bold;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-align: center;
                    text-decoration: underline;
                    text-decoration-color: $primary;
                }
                .top-booster-icon {
                    height: 45px;
                    width: 45px;
                    display: block;
                    margin: 0 auto;
                }

                .what-is-booster {
                    margin-top: 10px;
                    color: $body_text_color2;
                    font-family: $font-bold;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: center;
                }
                .there-are-4-type-of {
                    color: $one-booster-text;
                    font-family: $font-regular;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: center;
                }
                .container-all-booster {
                    height: 121px;
                    border-radius: 20px;
                    background-color: $primary;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 15px 15px 15px 15px;

                    .inner-conatiner {
                        border-radius: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                        height: 117px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        background-color: $white;
                        padding: 15px;
                        .booster-icon {
                            height: 74px;
                            width: 74px;
                        }
                        .booster-detail-layout {
                            margin-left: 25px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .booster-name {
                                color: $body_text_color2;
                                font-family: $font-bold;
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: 0;
                                line-height: 29px;
                            }
                            .points-addition {
                                color: $body_text_color2;
                                font-family: $font-regular;
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 15px;
                            }
                            .applicable-only {
                                color: $body_text_color2;
                                font-family: $font-regular;
                                font-size: 12px;
                                letter-spacing: 0;
                                line-height: 15px;
                                display: flex;
                                .bold-position {
                                    margin-left: 5px;
                                    color: $black;
                                    font-family: $font-bold;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.contest-with-two-tabs {
            .modal-body {
                .nav.nav-tabs {
                    li {
                        width: 50%;
                    }
                }
            }
        }

        .modal-footer {
            padding: 0;
            border: 0;

            .btn {
                border-radius: 0;
                font-size: $font-base;
            }
        }

        .total-entries-table {
            display: table;
            margin: 20px 0 0;

            .table-cell {
                width: 50%;
                display: table-cell;
                text-align: center;

                .label {
                    font-size: $font-size-medium;
                    color: $primary_text_color;
                    text-transform: capitalize;
                }

                .value {
                    font-size: $font-size-h2;
                    color: $primary_text_color;
                    font-family: $font-bold;
                }
            }
        }

        .winning-section {
            padding-bottom: 20px;
            // background-color: $app_bg_color;

            .winning-tab-header {
                padding: 12px 15px 15px;
                background-color: $white;

                .winning-text {
                    display: inline-block;
                    width: 50%;
                    color: $primary_text_color;
                    font-size: $font-size-medium;
                    font-family: $font-bold;
                    font-weight: bold;
                    padding: 16px 0 10px 0;
                    vertical-align: top;
                }

                .winning-right-section {
                    width: 50%;
                    display: inline-block;
                    font-size: 24px;
                    font-family: $font-regular;
                    font-weight: bold;
                    color: $primary;
                    text-align: right;

                    i.icon-bonus {
                        display: inline-block;
                        margin-left: 5px;
                        margin-top: -4px;
                    }

                    .img-bonus {
                        margin-bottom: 2px;
                        width: 18px;
                        height: 18px;
                    }

                    .img-coin {
                        margin-bottom: 2px;
                        margin-right: 3px;
                        width: 25px;
                        height: 25px;
                    }

                    .winner-count {
                        color: $help_text_color;
                        font-family: $font-regular;
                        font-size: $font-size-small;
                        position: relative;
                        margin-right: 2px;
                    }

                    .star {
                        color: $help_text_color;
                        margin-left: 2px;
                    }
                }

                sup {
                    color: $gray-550;
                }
            }

            .table {
                box-shadow: none;
                background-color: $white;

                tr {
                    border-color: $border_color;
                    &.merchandise-tr {
                        td:last-child {
                            font-size: $font-base;
                            span.merchandise-name {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }

                td {
                    padding: 10px 20px 7px;
                    color: $primary_text_color;
                    border-top: 0px solid;
                    vertical-align: middle;

                    &:first-child {
                        font-size: 11px;
                        width: 70%;
                        font-family: $font-regular;
                        padding-left: 30px;
                    }

                    &:last-child {
                        padding-right: 30px;
                        padding-left: 30px;
                        font-size: 12px;
                        font-family: $font-regular;
                        font-weight: bold;

                        i.icon-bonus {
                            display: inline-block;
                            margin-top: -2px;
                        }

                        .coin-img {
                            width: 15px;
                            padding: 1px;
                        }

                        span.amt-type {
                            color: $primary;
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }

                    @media (max-width: 414px) {
                        &:first-child {
                            width: 60%;
                        }
                    }
                }

                .winning {
                    text-align: right;
                    padding-right: 30px;

                    .contest-prizes {
                        display: inline-block;
                        vertical-align: middle;

                        img {
                            margin-right: 2px;
                        }
                    }
                }

                .winning {
                    .contest-prizes {
                        .icon-bonus {
                            position: relative;
                            top: -1px;
                        }
                        img {
                            margin-right: 2px;
                            // margin-top: 3px !important;
                            width: 12px;
                            height: 12px !important;
                            position: relative;
                            top: -1px;
                        }
                    }
                }
            }
        }

        .info-section {
            padding-bottom: 50px;

            .header-section {
                background-color: $white;
            }
            .rev-fan-header-des {
                border-radius: 6px;
                margin: 20px 25px;
                border: 1px solid $border-color;
                .upper-wrap {
                    padding: 12px;
                    text-align: center;
                    font-size: $font-base;
                    font-family: $font-book;
                    border-bottom: 1px solid $border-color;
                    img {
                        width: 20px;
                        margin-right: 7px;
                    }
                }
                .lower-wrap {
                    padding: 8px 12px;
                    font-size: $font-base;
                    color: $body_text_color;
                }
            }
            .contest-type {
                font-size: $font-size-small;
                font-family: $font-book;
                color: $primary_text_color;

                .contest-item-container {
                    padding: 0 15px;
                    margin-top: 10px;
                    padding-bottom: 16px;

                    i,
                    .featured-image {
                        font-size: 16px;
                        margin-right: 15px;
                        position: relative;
                        top: 0px;
                    }

                    span.featured-icon {
                        margin-right: 15px;
                        position: relative;
                        top: 0px;
                        right: auto;
                    }

                    .contest-type-description {
                        color: $body_text_color;
                        font-family: $font-regular;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 100;
                        margin-left: 30px;
                    }

                    &:last-child {
                        border-bottom: 1px solid $border_color;
                    }

                    &:not(:first-child) {
                        margin-top: 0;
                    }
                }
            }

            .contest-info {
                padding: 15px;
                text-align: center;
                color: $primary_text_color;
                font-size: 16px;
                font-family: $font-regular;
                font-weight: bold;
                background-color: $white;

                .salary-cap-text {
                    color: $help_text_color;
                    font-family: $font-bold;

                    span {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }

                span {
                    color: $primary;
                }

                p {
                    margin: 0 0 5px 0;
                    font-size: 12px;
                    color: $primary_text_color;

                    span {
                        color: $primary_text_color;
                    }
                }
            }

            .table {
                th,
                td {
                    border: 0;
                    font-size: 12px;
                    color: $primary_text_color;
                    font-family: $font-regular;
                    padding: 5px 15px;

                    &.right-text {
                        font-family: $font-bold;
                    }
                }

                th {
                    text-transform: uppercase;
                    font-size: 11px;
                    font-family: $font-bold;
                }

                td:first-child {
                    font-family: $font-regular;
                }
            }

            .panel-body {
                padding: 8px 0;
                background-color: $white;
            }

            .panel-heading {
                background-color: $app_bg_color;
                padding: 8px 15px;
                font-size: 12px;
                font-family: $font-regular;
                position: relative;

                a {
                    color: $primary_text_color;
                    font-weight: bold;
                }

                i {
                    color: $primary_text_color;
                    position: absolute;
                    right: 15px;
                    font-size: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .panel {
                a {
                    display: block;

                    &:not(.collapsed) {
                        i.icon-arrow-down {
                            display: none;
                        }

                        i.icon-arrow-up {
                            display: block;
                        }
                    }

                    &.collapsed {
                        i.icon-arrow-down {
                            display: block;
                        }

                        i.icon-arrow-up {
                            display: none;
                        }
                    }
                }
            }
        }

        .entries-section {
            overflow-y: unset;

            .table-responsive {
                overflow-y: auto;
                background-color: $white;
            }

            .user-table-container {
                height: calc(100vh - 240px);
                overflow: auto;
            }

            table {
                overflow-y: auto;
                background-color: $white;

                tr {
                    td {
                        border: 0;
                        vertical-align: middle;
                    }
                }

                .table-body {
                    width: 100%;
                    overflow-y: auto;
                }
            }

            .user-entry {
                position: relative;
                padding-left: 60px;
                color: $primary_text_color;
                padding-top: 15px;
                padding-bottom: 15px;

                .user-img {
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    border-radius: 50%;
                    position: absolute;
                    margin-left: 20px;
                    background: lightgrey;
                }

                .user-name {
                    color: $primary_text_color;
                    font-family: $font-book;
                    font-size: $font-size-small;
                    line-height: 18px;
                    margin-left: 0;
                    max-width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .team-joined {
                color: $primary_text_color;
                font-size: 12px;
                font-family: $font-regular;
                padding-right: 20px;
            }
        }

        .progress-bar-default {
            padding-top: 25px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;

            .min-entries {
                right: 0;
                left: auto;
                top: 4px;
            }

            .progress {
                width: 100%;
                max-width: 100%;
                height: 4px;
            }

            .progress-bar-value {
                font-size: 11px;
                font-family: $font-bold-italic;
                margin-top: 5px;
                position: relative;
                padding-top: 0;

                .total-entries {
                    color: $help_text_color;
                    font-size: $font-size-small;
                    font-family: $font-regular;
                }

                .total-output {
                    color: $primary_text_color;
                    font-size: $font-size-small;
                    font-family: $font-book;
                }

                .min-entries {
                    font-size: $font-size-small;
                    color: $help_text_color;
                    position: absolute;
                    font-family: $font-regular;
                    top: -1px;

                    @media (min-width: 415px) {
                        left: auto;
                    }
                }
            }
        }

        &.contest-detail-with-btn {
            .modal-body {
                height: calc(100vh - 50px);
            }
        }

        &.contest-detail-with-collection {
            .modal-body {
                max-height: calc(100vh - 57px);
                height: calc(100vh - 57px);

                > div {
                    height: 100%;
                    padding-bottom: 30px;
                }

                .tab-content {
                    height: 100%;
                }

                .nav.nav-tabs {
                    margin-top: -5px;
                }
            }

            .fixture-list-content .collection-list-slider .collection-list {
                @media (max-width: 767px) {
                    padding: 0 5px 0;
                }
            }
        }
        .button-footer {
            &.sticky-btn {
                position: absolute;
                border-radius: 0px;
                bottom: 10px;
                z-index: 99;
            }
        }

        .Ftp-prizes {
            .Ftp-prize-section.center-grid {
                display: block;

                .Ftp-prize-inner-section {
                    margin: 0 auto;
                }

                .rank-ribbon {
                    max-width: 70px;
                }
            }
        }
    }

    .icon-close {
        color: $primary_text_color;
    }

    .modal-content,
    .modal-dialog {
        position: unset;
    }
}

.share-contest-wrapper {
    .contest-card {
        margin-top: 60px;
    }
}

.modal-dialog.booster-gameon-modal .modal-body {
    > div {
        height: calc(100vh - 108px);
    }

    .tab-content {
        height: calc(100vh - 148px);
    }
}

.modal-open .modal.booster-gameon-modal {
    overflow-y: hidden;

    &.contest-detail-hide {
        z-index: 1038;
    }
}

.schedule-match-wrap {
    .match-schedule-date {
        background: $disabled_text_color;
        text-align: center;
        padding: 8px;
        color: $help_text_color;
        font-size: $font-size-small;
        font-family: $font-book;
        text-transform: capitalize;
    }

    .match-list {
        text-align: center;
        padding: 0 10px 10px;
        margin-top: 10px;

        .time-left-wrap {
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: $disabled_text_color;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
            }

            .time-left {
                width: calc(100% - 20px);
                max-width: 70px;
                padding-top: 1px;
                border-radius: 10px;
                border: 1px solid $border-color;
                text-align: center;
                font-size: $font-size-small;
                font-family: $font-book;
                color: $help_text_color;
                margin: 0 auto;
                background: $white;
                position: relative;
                z-index: 2;
            }
        }

        .away-team {
            width: 35%;
            text-align: left;
            display: inline-block;
            vertical-align: middle;

            .away-team-name {
                display: inline-block;
                vertical-align: middle;
                font-size: $font-base;
                color: $primary_text_color;
                font-family: $font-bold;
                text-transform: uppercase;
                margin-left: 15px;

                @media (max-width: 400px) {
                    margin-left: 10px;
                }

                @media (max-width: 320px) {
                    margin-left: 5px;
                }
            }

            .away-team-logo {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 1px solid $border-color;
                text-align: center;
                position: relative;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 34px;
                    max-height: 34px;
                    margin: 0 auto;
                }
            }
        }

        .home-team {
            display: inline-block;
            vertical-align: middle;
            width: 35%;
            text-align: right;

            .home-team-name {
                display: inline-block;
                vertical-align: middle;
                font-size: $font-base;
                color: $primary_text_color;
                font-family: $font-bold;
                text-transform: uppercase;
                margin-right: 15px;

                @media (max-width: 400px) {
                    margin-right: 10px;
                }

                @media (max-width: 320px) {
                    margin-right: 5px;
                }
            }

            .home-team-logo {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 1px solid $border-color;
                text-align: center;
                position: relative;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 34px;
                    max-height: 34px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.modal-dialog.booster-gameon-modal {
    .info-section,
    .winning-section,
    .entries-section {
        padding-bottom: 110px;
    }

    .modal-body {
        max-height: calc(100vh - 76px);
        height: calc(100vh - 76px);

        > div {
            height: 100%;
            padding-bottom: 30px;
        }

        .tab-content {
            height: 100%;
        }

        .tab-content-fixture {
            height: 95%;
        }
    }

    .btn {
        &.button-footer {
            border-radius: 22px;
            position: fixed;
            width: 100%;
            bottom: 10px;
            max-width: 280px;
            left: 0;
            right: 0;
            box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            border-radius: 22px;

            @media (max-width: 200px) {
                bottom: 10px;
            }

            @media (max-width: 414px) {
                bottom: 10px;
            }
        }

        &.index {
            z-index: 1;
        }
    }
}

.body-dark-theme {
    .modal-dialog.booster-gameon-modal .modal-body .body-contents {
        .what-is-booster {
            color: $white;
        }
        .there-are-4-type-of {
            color: $white;
        }
        .container-all-booster {
            background-color: $darkT_primary;
            .inner-conatiner {
                background-color: $darkT_ternary;
                .booster-detail-layout {
                    .booster-name {
                        color: $white;
                    }
                    .points-addition {
                        color: $white;
                    }
                    .applicable-only {
                        color: $white;
                        .bold-position {
                            color: $white;
                        }
                    }
                }
            }
        }
        .game-on{
            color: $white;
        }
        .your-team-has-been-submitted{
            color: $white;
  
        }
        .booster-circular.booster-layout .booster-layout-header{
            .boosters-text{
                color: $white;
            }
            .apply-boosters-on {
                color: $white;
            }
            .increase-your-winn{
                color: $white;
            }
            .apply-btn{
                background-color: $darkT_primary;
                .apply-booster{
                    color: black;
                }
            }
        }
        .skip-see-my-contest{
            color: $darkT_primary;
            text-decoration-color: $darkT_primary;
        }
    }
}
