.private-contest-main-wrap {
    &.private-contest-parent{
        height: 100vh;
        min-height: 100vh;
    }
    .private-contest-parent{
        min-height:  calc(100vh - 139px) !important;
        height: calc(100vh - 139px);
        &.fixed-height{
            height: 100vh;
        }
    }
}

.private-contest-parent{
    max-width: $window_width;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $white;
    padding-bottom: 0px !important;
    position: relative;
    height: calc(100vh - 50px);
    min-height:  calc(100vh - 50px) !important;
    &.fixed-height{
        height: calc(100vh - 50px);
        margin-top: 50px;
    }
    .have-a-code-label{
        color: $primary;
        font-family: $font-regular;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 38px;
        text-align: left;
    }
    .have-a-code-description{
        margin-top: 20px;
        margin-bottom: 50px;
        color: $help_text_color;
        font-family: $font-regular;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
    }
    .tab-group{
        margin-top: 55px;
        width: 100%;
        padding-right: 15%;
        padding-left: 15%;
        background-color: $primary;

       
           
            .active{
                color: $white !important;
                a{
                    color: $white !important;
                    opacity: 1
                }
            }
            .inactive{
                color: $white;
                a{
                    color: $white !important;
                    opacity: 0.5 !important;
                }
            }
           .active-nav-indicator {
               background-color: $white;
           }
        
       
    }
    .tab-parent-container{
        width: $window_width;
        margin: 30px 0px 0px 0px;
        overflow-y: auto;
        overflow-x: hidden;
        @media screen and(max-width:550px){
            width: 100vw;
        }
        .tab-container{
            padding: 0px 60px 60px 60px;
            width: $window_width;
            height: 75vh;
            overflow: auto;
            @media screen and(max-width:550px){
                width: 100vw;
                padding: 0px 38px 30px 38px;
            }
           
            .form-container{
                margin-top: 0px;
                .input{
                    width: calc(100%-60px);
                }
                .char-limit-container{
                    width: 100%;
                    text-align: right;
                    color: $help_text_color;
                    font-family: $font-regular;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 13px;
                    margin-top: -8px;
                }
                &.mT50{
                    margin-top: 50px;
                }
                .select-secondary.sel-entry-type{
                    z-index: 9999;
                    width: 40px;
                    position: absolute;
                    top: 18px;
                    right: 0;
                    text-align: center;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    padding-bottom: 0;
                    height: 30px;
                    img{
                        max-width: 15px;
                    }
                    .secondary__control{
                        height: 30px;
                    }
                    .secondary__single-value{
                        padding-left: 3px;
                    }
                    .secondary__menu{
                        width: 38px;
                        margin: 0;
                        .secondary__menu-list{
                            margin: 0;
                            padding: 0;
                            width: 38px;
                            .secondary__option{
                                padding: 4px;
                            }
                        }
                    }
                }
                .select-arr.select-arr-entry-type{
                    display: block;
                    right: 5px;
                    top: 33%;
                    transform: translateX(0%);
                    i{
                        font-size: $font-size-xsmall;
                    }
                }
            }
            .winning_distribution_container{
                margin-top: 10px;
                .winning_distribution_label{
                    color: $body_text_color2;
                    font-size: 14px;
                    position: relative;
                    span{
                        position: absolute;
                        right: 10px;
                        color: $primary;
                        text-decoration: underline;
                        font-family: $font-regular;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 20px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
                .table-container {
                    margin-top: 20px;
                    .table-header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid $app_bg_color;
                        padding: 10px 0;
                        .header-item{
                            display: inline-block;
                            color: $help_text_color;
                            font-family: $font-regular;
                            font-size: 12px;
                            font-weight: 300;
                            letter-spacing: 0;
                            line-height: 13px;
                            min-width: 50px;
                            text-align: center;
                            &.left-align{
                                text-align: left;
                            }
                        }
                    }
                    .table-body{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid $app_bg_color;
                        padding: 10px 0;
                        .table-item{
                            display: inline-block;
                            color: $body_text_color2;
                            font-family: $font-regular;
                            font-size: 12px;
                            font-weight: 300;
                            letter-spacing: 0;
                            line-height: 13px;
                            min-width: 50px;
                            text-align: center;
                            &.bold{
                                font-weight: 600;
                            }
                            &.left-align{
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .multi_entry_container{
                margin-top: 20px;
                .multi_entry_label{
                    position: relative;
                    color: $body_text_color2;
                    font-family: $font-regular;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 38px;
                }
                .multi_entry_desc{
                    color: $help_text_color;
                    font-family: $font-regular;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 13px;
                }
                .btn-container{
                    margin-top: 20px;
                    display: block;
                    .multi_btn_style{
                        display: inline-block;
                        border-radius: 20px;
                        box-sizing: border-box;
                        border: 1px solid #E0E0E0;
                        border-radius: 20px;
                        background-color: $white;
                        color: $body_text_color2;
                        text-align: center;
                        padding: 8px 30px;
                        margin-right: 20px;
                        font-weight: bold;
                        cursor: pointer;
                        text-transform: uppercase;
                        &.selected{
                            color: $white;
                            background-color: $primary;
                            border: 0px;
                        }
                    }
                }
                
            }
            .create-contest-info{
                margin: 100px 0px;
                padding-bottom: 100px;
                @media screen and(max-width:550px){
                    margin: 50px 0px;
                }
                color: $help_text_color;
                font-family: $font-regular;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 16px;
                text-align: center;
            }
            
        }
        .create-contest-btn{
            background-color: $primary;
            width: $window_width;
            @media screen and(max-width:550px){
                width: 100%;
            }
            height: 60px;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            position: fixed;
            bottom: 0;
            z-index: 2;
            &.disabled{
                background-color: $disabled_text_color;
                cursor: not-allowed;
            }
            span{
                color: $white;
                font-family: $font-bold;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 60px;
                width: 100%;
                text-align: center;
            }
        }
        .text-area-style{
            width: 100%;
            border: 0px;
            border-bottom: 1px solid rgb(234, 234, 234);
            resize: none;
            z-index: 1;
        }

        .desc-label{
           color : rgb(153, 153, 153);
        }
    }
    .join-contest-btn{
        position: fixed;
        bottom: 0%;
        background-color: $primary;
        width: $window_width;
        @media screen and(max-width:550px){
            width: 100%;
        }
        height: 60px;
        text-align: center;
        max-width: 550px;
        cursor: pointer;
        &.disabled{
            background-color: $disabled_text_color;
            cursor: not-allowed;
        }
        span{
            color: $white;
            font-family: $font-bold;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 60px;
            width: 100%;
            text-align: center;
        }
    }
}
.private-contest-btn{
    font-size: 16px!important;
    padding: 10px 15px !important;
}
.body-dark-theme {
   
    .private-contest-parent{
        background-color: $darkT_view_bg_color;
        .have-a-code-label{
            color: $darkT_primary;
        }
        .have-a-code-description{
            color: $darkT_primary;
        }
        .tab-parent-container{
            .tab-container{
                .multi_entry_container{
                    .multi_entry_label{
                        color: $darkT_primary_text_color;
                    }
                    .btn-container{
                        .multi_btn_style{
                            background-color: transparent;
                            color: $darkT_primary_text_color;
                            &.selected{
                                background: linear-gradient(90deg, $darkT_primary 0%, $darkT_primary 60%, $darkT_primary 90%);
                            }

                        }
                    }
                }
                .winning_distribution_container{
                    .winning_distribution_label{
                        color: $darkT_primary_text_color;
                        span{
                            color: $darkT_primary_text_color;
                        }
                    }
                    .table-container {
                        margin-top: 20px;
                        .table-header{
                            .header-item{
                                color: $darkT_help_text_color;
                            }
                        }
                        .table-body{
                            .table-item{
                                color: $darkT_primary_text_color;
                            }
                        }
                    }
                }
            }
           
            .create-contest-btn{
                background: linear-gradient(90deg, $darkT_primary 0%, $darkT_primary 60%, $darkT_primary 90%);
                &.disabled{
                   // background-color: $darkT_help_text_color;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) !important;
                    background: $darkT_help_text_color;
                    span{
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }
            .text-area-style{
              
                border-bottom: 1px solid rgba(234, 234, 234, 0.4);
                resize: none;
                background-color: transparent;
                color: $darkT_primary_text_color;
            }
        }
        .join-contest-btn{
            background: linear-gradient(90deg, $darkT_primary 0%, $darkT_primary 60%, $darkT_primary 90%);
                &.disabled{
                   // background-color: $darkT_help_text_color;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) !important;
                    background: $darkT_help_text_color;
                    span{
                        color: rgba(255, 255, 255, 0.4);
                    }
                }

        }
        .tab-group{
            background-color: $darkT_app_bg_color;
               
                .active{
                    color: $darkT_primary_text_color !important;
                    a{
                        color: $darkT_primary_text_color !important;
                        opacity: 1
                    }
                }
                .inactive{
                    color: $darkT_primary_text_color;
                    a{
                        color: $darkT_primary_text_color !important;
                        opacity: 0.5 !important;
                    }
                }
               .active-nav-indicator {
                   background-color: $darkT_primary_text_color;
               }
            
           
        }

    }
    
}
.contest-name-input.entry-fee-input{
    z-index: 2;
}