.modal-qr-crypto {
    overflow: hidden !important;

    .modal-dialog {
        max-width: 100%;
    }

    .Confirm-header {
        color: $primary_text_color;
        font-family: $font-regular;
        font-size: 14px;
        font-weight: 900;
        text-align: center;
      }

    .modal-body {
        padding: 0 2% !important;
        overflow: auto;
        overflow-x: hidden;

        @media (max-width: 414px) and (max-height: 767px) {
            padding-bottom: 80px !important;
        }

        &.crypto-prog{
            padding: 0 3% !important;
            .main-container{
                margin: 1% 0 16px;
                overflow-y: auto;
                padding-bottom: 60px;
                .upper-conatiner{
                    box-sizing: border-box;
                    height: auto;
                    width: 100%;
                    border: 1px solid #EAEAEA;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &.address-container{
                        margin-top: 15px;
                    }


                    .lable-value-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        align-items: center;
                        .inner-c{
                            margin-top: 5px;
                            margin-left: 10px;
                            width: 90%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start; 

                            .text-label {
                                color: #212121;
                                font-family: $font-regular;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 18px;
                              }
                             .row-container{
                                 display: flex;
                                 justify-content: flex-start;
                                 flex-direction: row;
                                 .icon-image{
                                    height: 14px;
                                    width: 14px;
                                 }
                                 .value {
                                    color: $primary_text_color;
                                    font-family: $font-bold;
                                    font-size: 14px;
                                    font-weight: bold;
                                    letter-spacing: 0;
                                    line-height: 18px;
                                    &.amount{
                                        margin-left: 5px;
                                    }
                                  }
                                  .type {
                                    margin-left: 10px; 
                                    color: $primary_text_color;
                                    font-family: $font-regular;
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    line-height: 18px;
                                  }
                             }
                        }
                        .image-right{
                            margin-right: 10px;
                            height: 30px;
                            width: 30px; 
                        }
                    }
                    .horizontal-line {
                       
                        height: 1px;
                        width: 100%;
                        background-color: #EAEAEA;
                      }
                      .copy-btn-container{
                          margin-top: 10px;
                          margin-bottom: 10px;
                          display: flex;
                          justify-content: center;
                          flex-direction: row;
                          align-items: center;
                          .copy-btn {
                            cursor: pointer;
                            margin-right: 10px;
                            height: 44px;
                            width: 220px;
                            border-radius: 20px;
                            background-color: $primary;
                            color: white;
                            font-family: $font-bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
            
                          }
                      }

                  }
                  .or-text{
                    margin-top: 10px;
                    color: $black;
                    font-family: $font-bold;
                    font-size: 14px;
                    text-align: center;
                }
                  .image-qr-code-conatiner{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .image{
                        height: auto;
                        width: auto;
                        justify-content: center;
                        align-items: center;
                    }

                }
                .alert-conatiner {
                    margin-top: 10px;
                    box-sizing: border-box;
                    height: auto;
                    width: 100%;
                    border: 1px solid #FF0000;
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    padding:5px;
                    p{
                        color: $black;
                        font-size: $font-base;
                        font-family: $font-regular;
                        margin-left: 5px;
                        .highlighted-text{
                            color: $black !important;
                            font-family: $font-bold;
                         &.imortant-notice{
                            color: $danger !important;

                         }
                        }
                    }
                  }
                // .deposit-c-type-container{
                //     padding: 10px;
                //     display: flex;
                //     flex-direction: row;
                //     justify-content: flex-start;
                //     align-items: center;
                //     &.no-margin{
                //         margin: 17% 0 16px;
                //     }
    
                //     .label-conatiner{
                //         padding-left: 10px;
                //         padding-right: 10px;
                //         display: flex;
                //         flex-direction: row;
                //         justify-content: flex-start;
                //         align-items: center;
                //         .label-circle{
                //             height: 5px;
                //             width: 5px;
                //             border-radius:100%;
                //             background-color: $black;
                //         }
                //         .label-text{
                //             margin-left: 10px;
                //             color: $black;
                //             font-family: $font-regular;
                //             font-size: 14px;
                //             &.danger{
                //                 color: $danger;
     
                //             }
    
                //         }
                //         .detail-type{
                //             color: $black;
                //             font-family: $font-bold;
                //             font-size: 12px;
                //             margin-top: 2px;
                //             margin-left: 2px;
                //         }
                       
                //     }

                   
    
                // }
                // p{
                //     margin-left: 15px;
                //     color: $danger;
                //     font-family: $font-regular;
                //     font-size: 14px;
                //     .highlighted-text{
                //         color: $primary;
                //         font-weight: bold;
                //     }
                // }
                p{
                    color: $danger;
                    font-size: $font-base;
                    font-family: $font-regular;
                    margin-left: 30px;
                    .highlighted-text{
                        color: $link !important;

                    }
                }
                span.highlighted-text{
                    color: $primary;
                }
                .image-qr-code-conatiner{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .image{
                        height: auto;
                        width: auto;
                        justify-content: center;
                        align-items: center;
                    }

                }
                
               

               

                .or-text{
                    color: $black;
                    font-family: $font-bold;
                    font-size: 20px;
                    text-align: center;
                }
            }
            
        }
    }

    .modal-close {
        position: absolute;
        top: 30px;
        right: 20px;
        left: auto;
    }

    .btn {
        display: block;
        margin: calc(100vh - 90vh) auto 10px;
        width: 80%;
        border-radius: 22px;
    }

}

.modal-qr-crypto .modal-body.crypto-prog .main-container p {
    .highlighted-text{
        color: $primary;
        font-weight: bold;
    }
}