.multi-game-info{
    text-align: center;
    color: $primary_text_color;
    font-size: $font-size-h4;
    font-family: $font-bold;
    background-color: $white;
    h2{
        color: $body_text_color2;
        font-size: $font-size-h4;
        font-family: $font-bold;
        line-height: 1;
        margin-top: 30px;
    }
    .multi-game-detail{
        margin-top: 10px;
        color: $body_text_color;
        font-size: 12px;
        font-family: $font-regular;
       
    }
    .collection-image{
        margin-top: 58px;
        &.collection-image2{
            margin-top: 74px;
        }
    }
    .select-multigame{
        color: $primary_text_color;
        font-family: $font-semibold;
        font-size: $font-base;
        margin-top: 25px;
        list-style: 1;;
    }
    .select-multigame-detail{
        margin-top: 10px;
        color: $body_text_color;
        font-size: 12px;
        font-family: $font-regular;
       
    }
    span{
        font-size: 20px;
    font-family: $font-bold;
    font-weight: bold;
        color: $primary_text_color;
    }
    p{
        
        margin: 0 0 5px 0;
        font-size: 12px;
        color: $primary_text_color;
        span{
            color: $primary_text_color;
        }
    }
}



// changes for dark theme overall
.body-dark-theme{
    .collection-modal.modal-lg.modal-dialog .modal-content{
        background: $darkT_secondary;
        .modal-header button.close span{
            color: $darkT_primary_text_color;
        }
        .btn-rounded{
            font-size: $font-base;
            font-family: $font-bold;
        }
    }
    .multi-game-info{
        background: $darkT_secondary;
        h2,
        .multi-game-detail,
        .select-multigame,
        .select-multigame-detail{
            color: $darkT_primary_text_color;
        }
    }
    .modal-header button.close span{
        color: $darkT_primary_text_color;
    }
}