.forgot-password-container{


  .opt-block {
      width: 300px;
      margin: 0 auto;
  }
  .custm-phone {
      border-bottom: 1px solid $border_color;
      padding-bottom: 10px;

      .react-phone-number-input__icon {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          display: block;
          color:$icon_color;
          overflow: hidden;
          border: 1px solid $border_color;
      }

      .react-phone-number-input__country-select-arrow {
          border: 0;
          font-family: 'icomoon' !important;
          font-size: 14px;
          color: $icon_color;
          margin: 0 5px 0 5px;
          opacity: 1;
          display: inline-block;
          width: auto;
          height: auto;
          vertical-align: middle;

          &:before {
              content: "\e914";
          }
      }

      .react-phone-number-input__input {
          border-bottom: 0;
          color:$body_text_color;
          font-family: $font-bold;
          font-size: 16px;
      }

      .react-phone-number-input__row {
          width: 100%;
          margin: 0 auto;
          color:$primary_text_color;
      }
      .react-phone-number-input__error{
          display: none;
          color:$primary;
      }
  }

  .link-icon {
      font-size: 20px;
      margin-left: 5px;
  }
  .user-input-style{
        color:$primary_text_color;
        font-family: $font-regular;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
        font-family: $font-light;
    }
  
  
    .opt-block {
        width: 300px;
        margin: 0 auto;
    }
  
    .media-check{
        @media (max-width: 767px){
            display: none;
        }
    }
  
    .custm-phone {
        border-bottom: 1px solid $border_color;
        padding-bottom: 10px;
  
        .react-phone-number-input__icon {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            display: block;
            color:$icon_color;
            overflow: hidden;
            border: 1px solid $border_color;
        }
  
        .react-phone-number-input__country-select-arrow {
            border: 0;
            font-family: 'icomoon' !important;
            font-size: 14px;
            color: $icon_color;
            margin: 0 5px 0 5px;
            opacity: 1;
            display: inline-block;
            width: auto;
            height: auto;
            vertical-align: middle;
  
            &:before {
                content: "\e914";
            }
        }
  
        .react-phone-number-input__input {
            border-bottom: 0;
            color:$body_text_color;
            font-family: $font-bold;
            font-size: 16px;
        }
  
        .react-phone-number-input__row {
            width: 100%;
            margin: 0 auto;
            color:$primary_text_color;
        }
        .react-phone-number-input__error{
            display: none;
            color:$primary;
        }
    }
  
    .link-icon {
        font-size: 20px;
        margin-left: 5px;
    }
  
    .user-input-style{
          color:$primary_text_color;
          font-family: $font-regular;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
    }
  
  }
  
  