public/.sass-cache/
public/node_modules/
public/bower_components/
sports/application/logs/*.php
/public/app/assets/css/style.unprefixed.css
/public/app/assets/css/style.unprefixed.css.map
/date_time.php
/nbproject
/docs


date_time.php

/admin/application/logs/*.php
upload/profile/*.jpeg
upload/profile/thumb/*.jpeg
upload/userdata/*.json
upload/user_data.json
/vendor

node_modules
adminapi/upload/*/*.json
adminapi/upload/*.json
adminapi/upload/**/*.json
adminapi/upload/*.jpg
adminapi/upload/*.png
adminapi/upload/*.jpeg
adminapi/application/logs
admin/.env

/upload/**/*.jpg
/upload/**/*.png
!/upload/**/avatar1.png
!/upload/**/avatar2.png
!/upload/**/avatar3.png
!/upload/**/avatar4.png
!/upload/**/avatar5.png
!/upload/**/avatar6.png
!/upload/**/avatar7.png
!/upload/**/avatar8.png
!/upload/**/avatar9.png
!/upload/**/avatar10.png
/upload/**/*.jpeg
composer.lock

/logs

/public/src/scss/app

/adminapi/application/third_party/vendor/

/.env
/admin/.env
adminapi/.env
admin/.env
frontend/package-lock.json

node/node_modules
node/package-lock.json

userlevel/
.DS_Store
.expo/
.idea/
.vscode/
/.vscode
.sonarlint
/.sonarlint
jmeter.log
frontend/.env
admin/.env

/app/*.apk

pickem/upload/*
pickem/upload/*/*.json
pickem/upload/*.json
pickem/upload/**/*.json
pickem/upload/*.jpg
pickem/upload/*.png
pickem/upload/*.jpeg

/stock/application/logs/*.php
stock/upload/*/*.json
stock/upload/*.json
stock/upload/**/*.json
stock/upload/*.jpg
stock/upload/*.png
stock/upload/*.jpeg

certificates/*

stock/application/libraries/fcm/vendor
stock/application/libraries/fcm/ServiceAccountKey.json
frontend/yarn.lock
