.affiliate-wrapper {
  margin-top: 26px;

  .aff-btn {
    float: right;
    height: 36px;
    width: 144px;
  }

  .no-affi {
    text-align: center;
    margin-top: 110px;
  }

  img {
    height: 360px;
    width: 568px;
  }
}
