<div class="newsfeed-placeholder" ng-hide="loadedTotal">
    <div class="panel feed-placeholder" ng-repeat="(key, value) in ['1', '2', '3']">
        <div class="ldwq">
            <div class="ldiwr"></div>
            <div class="ldiws"></div>
            <div class="ldiwt"></div>
            <div class="ldiwu"></div>
            <div class="ldiwv"></div>
            <div class="ldiww"></div>
            <div class="ldiwx"></div>
            <div class="ldiwy"></div>
            <div class="ldiwz"></div>
            <div class="ldiw-"></div>
            <div class="ldiw_"></div>
            <div class="ldix0"></div>
        </div>
    </div>
</div>