<!-- panel-group -->
<div class="panel panel-travel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="block" ng-bind="lang.newsfeed_group_widget"></div>
            </div>
            <div class="action col-lg-3 col-md-4 col-sm-4">
                <a class="btn btn-lg btn-primary" target="_self" ng-href="{{BaseUrl+'group/discover'}}" ng-bind="lang.w_explore_groups"></a>
            </div>
        </div>
    </div>
</div> 