.comm-arrow{
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  opacity: 0.4;
  margin-top: 20px;
}

.page-heading {
  color: #27272D;
  font-family: $font-bold;
  font-size: 32px;
}

.faq-bg-box {
  background-color: $white;
  margin-top: 16px;
  margin-bottom: 20px;

  .faq-top-box {
    padding: 22px 20px;

    .btn {
      height: 42px;
      width: 132px;
      margin-bottom: 8px;
    }

    .Select-placeholder {
      line-height: 34px;
    }
  }

  .icon-cross {
    float: right;
    margin: 10px 0;
    background-color: $secondary-color;
    color: $white;
    padding: 6px;
    border-radius: 100%;
    font-size: 10px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 15px rgba(248, 67, 110, 0.48);
    }
  }

  .bor-bottom {
    border-bottom: 1px solid #D8D8D8;
  }

  .form-control {
    background-color: #EDEDED;

    &::placeholder {
      opacity: 0.4;
      color: #27272D;
      font-family: $font-bold;
      font-size: 12px;
    }
  }

  .inp-answer {
    margin-top: 10px;
    height: 80px;
  }

  .add-more-q {
    color: $secondary-color;
    // font-family: $font-bolditalic;
    text-align: right;
    margin-top: 14px;
    margin-bottom: 28px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cate-box {
  background-color: $white;
  margin-top: 10px;
  padding: 18px 20px 12px;
  height: 80px;
  cursor: pointer;

  &:hover {
    background-color: #2A2E49;
    transition: background-color 200ms linear;

    .cate-name,
    .cate-q-count {
      color: $white;
    }

    .arrow-down {
      opacity: 1;
      border-top: 16px solid $white;
    }
    
    .arrow-up {
      opacity: 1;
      border-bottom: 16px solid $white;
    }
  }

  .cate-name {
    color: #27272D;
    font-family: $font-bold;
    font-size: 18px;
  }

  .cate-q-count {
    color: #27272D;
    font-family: $font-bold;
    margin-top: 2px;
  }

  .arrow-down {
    @extend .comm-arrow;    
    border-top: 16px solid #4A4A4A;
  }
  .arrow-up{
    @extend .comm-arrow;
    border-bottom: 16px solid #4A4A4A;
  }
}

.qa-list {
  background-color: $white;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 40px;
  &.hide-cate{
    display: none;
  }
}
.update-qa-box{
  text-align: center;
  margin: 20px 0;
}