.change-password {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: $white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: flip-animation 0.4s linear;
  animation-fill-mode: both;
  transform: rotateY(-90deg);
  transition: all 0.2s cubic-bezier(.36, -0.64, .34, 1.76);

  .h2-cls {
    text-align: center;
  }

  label {
    margin-bottom: 4px;
    color: #9398a0;
    font-family: $font-bold;
    display: block;
    margin-top: 14px;
  }

  .form-control {
    background-color: #ededed;
    height: 42px;
  }

  .btn {
    margin-top: 30px;
  }

  .password-msg {
    color: $white;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    transition : all 0.8s;
    opacity: 0;
    &.c-success {
      opacity: 1;
      margin-top: 20px;
      height: 40px;
      background-color: rgb(85, 202, 146);
    }
    &.c-error {
      opacity: 1;
      margin-top: 20px;
      height: 40px;
      background-color: rgb(232, 87, 66);
    }
  }
}
