<span ng-view></span>
<a target="_self" data-toggle="tooltip" data-placement="bottom" data-original-title="Create New Post" ng-click="setEditVariable(false);slickSlider(); updateActivePostTypeDefault(ContentTypes); showNewsFeedPopup();" class="btn-floating btn-gotop">    
    <i class="btn-floating-add ficon-pencil"></i>
    <i class="btn-floating-edit ficon-pencil"></i>
</a>
<div role="tabpanel" class="tab-pane active">
    <div class="stiky-overlay" ng-class="{'active': isOverlayActive}" ng-click="toggleStickyPopup('close', popupType);"></div>    
    <div ng-if="wlEttDt.ModuleEntityGUID && !wlEttDt.ActivityGUID && wlEttDt.IsNewsFeed == 1 && LoginSessionKey!==''"  ng-include="AssetBaseUrl + 'partials/widgets/wall/announcement_newsfeed.html'" ></div>
        
    <section class="news-feed" ng-cloak  ng-controller="NewsFeedCtrl" id="NewsFeedCtrl" infinite-scroll="GetwallPost()" infinite-scroll-distance="2" infinite-scroll-use-document-bottom="true" infinite-scroll-disabled="is_busy">
        <div class="news-feed-listing sticky-tutor" id="stickyTutorialBox" ng-cloak ng-if="stickynote" ng-class="{'overlay-content': stickynote}">
            <div class="feed-body">
                <img ng-src="{{AssetBaseUrl}}img/sticky-pos-options.jpg" >
            </div>
        </div>
                
        <div 
            ng-if="wlEttDt.ModuleEntityGUID "
            id="activityFeedId-{{ $index}}" 
            ng-repeat-start="data in activityData track by $index"
            repeat-done="wallRepeatDone();" 
            ng-init="SettingsFn(data.ActivityGUID); FeedIndex = $index; initTagsItem($index);"  
            ng-class="getCollpaseClass(data, 'feed-list')"
            class="news-feed-listing feed-list activitywrapper" 
            viewport-watch ng-attr-data-guid="act-{{data.ActivityGUID}}"
        >
            <div class="inner-wall-post" ng-include="getTemplateUrl(data)" ></div>           
        </div>
        
        <div ng-repeat-end ng-cloak>
            <div ng-if="$index == 0 && LoginSessionKey==''"  ng-include="AssetBaseUrl + 'partials/widgets/newsfeed/panel_signup.html' + app_version"></div>
            <div ng-if="$index == 4" ng-include="AssetBaseUrl + 'partials/widgets/newsfeed/memories_so_far.html' + app_version"></div>
            <div ng-if="$index == 9" ng-include="AssetBaseUrl + 'partials/widgets/newsfeed/panel_group.html' + app_version"></div>
<!--        <div ng-if="$index == 24" ng-include="BaseUrl + 'assets/partials/widgets/newsfeed/panel_testimonials.html' + app_version"></div>-->
        </div>
        
        <div ng-if="wlEttDt.ModuleEntityGUID && wlEttDt.pname == 'wall'" ng-include="AssetBaseUrl + 'partials/widgets/wall/feed-loader.html'" ></div>

    </section>
    

        <div class="panel panel-info" ng-if="(tr == 0 || (trr == 0 && IsReminder == 1)) && IsSinglePost == 0 && PostTypeName=='Announcements' && group_announcements.length==0" ng-cloak>
            <div class="panel-body nodata-panel">
                <div class="nodata-text p-v-lg">
                  <span class="nodata-media">
                    <img ng-src="{{AssetBaseUrl}}img/empty-img/empty-no-newsfeed.png" >
                  </span>
                  <h5 ng-bind="lang.c_start_posting"></h5>
                  <p class="text-off" ng-bind="lang.c_start_building_timeline"></p>
                  <a ng-click="slickSlider(); updateActivePostTypeDefault(ContentTypes); showNewsFeedPopup();" ng-bind="lang.c_write_something"></a>
                </div>
          </div>
        </div> 

        <div class="panel panel-info" ng-if="(tr == 0 || (trr == 0 && IsReminder == 1)) && IsSinglePost == 0 && PostTypeName!='Announcements'" ng-cloak>
            <div class="panel-body nodata-panel">
                <div class="nodata-text p-v-lg">
                  <span class="nodata-media">
                    <img ng-src="{{AssetBaseUrl}}img/empty-img/empty-no-newsfeed.png" >
                  </span>
                  <h5 ng-bind="lang.c_start_posting"></h5>
                  <p class="text-off" ng-bind="lang.c_start_building_timeline"></p>
                  <a ng-click="slickSlider(); updateActivePostTypeDefault(ContentTypes); showNewsFeedPopup();" ng-bind="lang.c_write_something"></a>
                </div>
          </div>
        </div>               

        <div class="panel panel-info"  ng-if="(tr == 0 || (trr == 0 && IsReminder == 1)) && IsSinglePost !== 0" ng-cloak>
            <div class="panel-body nodata-panel">
            <div class="nodata-text p-v-lg">
              <span class="nodata-media">
                <img ng-src="{{AssetBaseUrl}}img/empty-img/empty-no-newsfeed.png" >
              </span>
                <p class="text-off"><span ng-bind="lang.c_content_not_available"></span> <br><span ng-bind="lang.c_not_accessible_for_you"></span></p>
            </div>
          </div>
        </div> 
</div>

<div ng-if="wlEttDt.ModuleEntityGUID" ng-include="AssetBaseUrl + 'partials/include/wall-modal.html'" ></div>

<div ng-if="wlEttDt.ModuleEntityGUID && SettingsData.m30 == '1'" ng-include="AssetBaseUrl + 'partials/poll/invite_popup.html'" ></div>

<div ng-if="wlEttDt.ModuleEntityGUID" ng-include="AssetBaseUrl + 'partials/include/invite-modal-popup.html'" ></div>


<input type="hidden" id="post_type" name="post_type" value="1" />
<input type="hidden" id="postGuid" name="postGuid" value="" />
<input type="hidden" id="UserGUID" ng-value="wlEttDt.LoggedInUserGUID" />
<input type="hidden" id="WallPageNo" value="1" />
<input type="hidden" id="FeedSortBy" value="2" />
<input type="hidden" id="IsMediaExists" value="2" />
<input type="hidden" id="PostOwner" value="" />
<input type="hidden" id="ActivityFilterType" value="0" />
<input type="hidden" id="AsOwner" value="0" />
<input type="hidden" id="IsWall" value="1" />
<input type="hidden" id="IsForum" value="1" />
<input type="hidden" id="CatMediaGUID" value="" />
<!--<input type="hidden" id="IsAdmin" value="<?php echo ($IsAdmin) ? '1' : '0' ; ?>" />-->
<input type="hidden" id="IsAdmin" value="0" />
<input type="hidden" id="loginUserGUID" ng-value="wlEttDt.LoggedInUserGUID" />
<input type="hidden" id="IsForumWall" value="1" />