<div ng-controller="newsletterGroupController">



    <div ng-show="show_group_list">

        <div class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="bread-crumb-nav brd-subnav">
                            <li><h2>Subscriber Lists</h2></li>
                            <li ng-if="totalRecordGroupList">
                                <span class="user-count" >
                                    ({{totalRecordGroupList}} Total)
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <ul class="filter-nav">
                                <li>
                                    <div class="input-icon right search-group open">
                                        <a class="icons search-icon">
                                            <i class="ficon-cross ng-scope" ng-if="groupName" ng-click="searchGroupClear()"></i>
                                            <i class="ficon-search ng-scope" ng-if="!groupName" ></i>
                                        </a>
                                        <input type="text" class="form-control" id="searchField" placeholder="Search" ng-model="groupName" ng-keyup="searchGroup($event)">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="container">
            <div class="main-container"> 
                <div class="page-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">                                                    
                                <select class=" form-control" 
                                        ng-model="listType" 
                                        ng-options="listTypeOption.val as listTypeOption.label  for listTypeOption in listTypeOptions"
                                        
                                        ng-change="getGropsByType()"
                                >                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-10">

                            <nav class="page navigation pull-right" ng-show="totalRecordGroupList > numPerPageGroupList">

                                <div class="total-pages" paging-info total-record="totalRecordGroupList" num-per-page="numPerPageGroupList" current-page="currentPageGroupList"></div>

                                <ul 
                                    uib-pagination total-items="totalRecordGroupList" items-per-page="numPerPageGroupList" 
                                    ng-model="currentPageGroupList" max-size="maxSizeGroupList" 
                                    num-pages="numPagesGroupList" class="pagination-sm" boundary-links="false" 
                                    ng-change="getThisPageGroupList()"
                                    template-url="pagination_template.html"
                                    >

                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>


                <div class="panel panel-secondary">
                    <div class="panel-body no-padding">
                        <div class="table-listing">
                            <table class="table table-hover xcrm-table">
                                <thead>
                                    <tr>

                                        <th ng-class="getGroupOrderByClass('Name')" ng-click="changeGroupListOrder('Name')">    
                                            List Name / Description
                                            <a class="sort" ng-if="getGroupOrderByClass('Name')">                                                
                                                <span class="icn" >
                                                    <i class="ficon-sort-arrow"></i>
                                                </span>                                                
                                            </a>
                                        </th>                                        
                                        <th width="150" class="text-center" ng-class="getGroupOrderByClass('TotalMember')" ng-click="changeGroupListOrder('TotalMember')">
                                            Members
                                            <a class="sort" ng-if="getGroupOrderByClass('TotalMember')">                                                
                                                <span class="icn" >
                                                    <i class="ficon-sort-arrow"></i>
                                                </span>                                                
                                            </a>
                                        </th> 
                                        <th width="100" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(newsletter_groupsKey, newsletter_group) in newsletter_groups" >

                                        <td>
                                            <h5 class="list-group-item-heading">
                                                <a class="text-black " ng-bind="newsletter_group.Name" ng-click="openGroupUserList(newsletter_group)"></a>
                                            </h5>
                                            <span class="text-muted" ng-bind-html="newsletter_group.Description"></span>
                                        </td>                                        
                                        <td align="center" ng-bind="newsletter_group.TotalMember"></td> 
                                        <td align="center">
                                            <div class="action">
                                                <a class="ficon-bin" ng-click="deleteGroupPopup(newsletter_group)"></a>       
                                                <a class="ficon-edit" ng-click="editGroupPopup(newsletter_group)"></a>
                                            </div>
                                        </td>
                                    </tr>


                                    <tr ng-if="newsletter_groups.length == 0">
                                        <td align="center" colspan="3" >No group list.</td> 
                                    </tr>

                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
                <div class="paging-bottom">
                    <nav class="page navigation pull-right" ng-show="totalRecordGroupList > numPerPageGroupList">

                        <div class="total-pages" paging-info total-record="totalRecordGroupList" num-per-page="numPerPageGroupList" current-page="currentPageGroupList"></div>

                        <ul 
                            uib-pagination total-items="totalRecordGroupList" items-per-page="numPerPageGroupList" 
                            ng-model="currentPageGroupList" max-size="maxSizeGroupList" 
                            num-pages="numPagesGroupList" class="pagination-sm" boundary-links="false" 
                            ng-change="getThisPageGroupList()"
                            template-url="pagination_template.html"
                            >

                        </ul>
                    </nav>
                </div>
            </div>
        </div>


        <div class="modal fade" tabindex="-1" role="dialog" id="delete_group_popup">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="ficon-cross"></i>
                            </span>
                        </button>
                        <h4 class="modal-title">Confirmation </h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete <b ng-bind="deletingGroupData.Name"></b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="button wht" data-dismiss="modal">No</button>
                        <button class="button"  ng-click="deleteGroup();" id="button_on_delete" name="button_on_delete">
                            <span class="loading-button">&nbsp;</span>Yes
                        </button> 
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>






















        <div class="modal fade in" tabindex="-1" role="dialog" id="editGroupPopup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header brand-light-bg">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearFooterSelect()">
                            <i class="ficon-cross"></i>
                        </button>
                        <h4 class="modal-title">Edit List</h4>                    
                    </div>
                    <div class="modal-body shadow" ng-if="boxOpened" ng-show="showCriteriaBox()">                                                                                                
                        <div class="userinfo" >
                            <label class="control-label text-xs uppercase">Criteria of list -</label>
                            <div class="row">
                                <div class="col-sm-2" ng-if="grpAutoUpdtCrtra.Gender != 0">
                                    <div class="form-group" >
                                        <label class="text-small control-label-off uppercase">Gender</label>
                                        <div class="text-small-black bolder uppercase" ng-if="grpAutoUpdtCrtra.Gender == 1">Male</div>
                                        <div class="text-small-black bolder uppercase" ng-if="grpAutoUpdtCrtra.Gender == 2">Female</div>
                                        <div class="text-small-black bolder uppercase" ng-if="grpAutoUpdtCrtra.Gender == 3">Other</div>                                    
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="grpAutoUpdtCrtra.AgeStart != 0 || grpAutoUpdtCrtra.AgeEnd != 0">
                                    <div class="form-group" ng-if="grpAutoUpdtCrtra.AgeStart != 0 && grpAutoUpdtCrtra.AgeEnd != 0">
                                        <label class="text-small control-label-off uppercase">Age Between</label>
                                        <div class="text-small-black bolder uppercase">
                                            {{grpAutoUpdtCrtra.AgeStart}} - {{grpAutoUpdtCrtra.AgeEnd}} years
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="grpAutoUpdtCrtra.AgeStart != 0 && (grpAutoUpdtCrtra.AgeEnd == 0 || grpAutoUpdtCrtra.AgeEnd == '')">
                                        <label class="text-small control-label-off uppercase">Age From</label>
                                        <div class="text-small-black bolder uppercase">
                                            {{grpAutoUpdtCrtra.AgeStart}}  years
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="grpAutoUpdtCrtra.AgeEnd != 0 && (grpAutoUpdtCrtra.AgeStart == 0 || grpAutoUpdtCrtra.AgeStart == '')">
                                        <label class="text-small control-label-off uppercase">Age Upto</label>
                                        <div class="text-small-black bolder uppercase">
                                            {{grpAutoUpdtCrtra.AgeEnd}} years
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6" ng-if="grpAutoUpdtCrtra.Locations.length != 0">
                                    <div class="form-group">
                                        <label class="text-small control-label-off uppercase">Location</label>
                                        <div class="text-small-black bolder uppercase">
                                            <span ng-repeat="Location in grpAutoUpdtCrtra.Locations">
                                                {{Location.City}}
                                                <span ng-if="!$last">,&nbsp;</span>
                                            </span>
                                        </div>                                                                                                            
                                    </div>
                                </div>

                            </div>
                            <div class="row" ng-if="grpAutoUpdtCrtra.TagUserType.length != 0">
                                <label class="text-small control-label-off uppercase col-sm-1">Tags</label>
                                <div class="col-sm-11">
                                    <ul class="tags-list">
                                        <li ng-repeat="tag in grpAutoUpdtCrtra.TagUserType">
                                            <span ng-bind="tag.Name"></span>
                                        </li>

                                        <li ng-if="TagUserTypeMoreTagsData.label">
                                            <span                                             
                                                custom-popover="" 
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-label="TagUserTypeMoreTagsData.label"                                           
                                                data-content="TagUserTypeMoreTagsData.tagListHtml"                                            
                                                >
                                            </span>
                                        </li>                                                
                                    </ul>
                                </div>
                            </div>


                            <div class="row" ng-if="grpAutoUpdtCrtra.TagTagType.length != 0">
                                <label class="text-small control-label-off uppercase col-sm-1">Tags</label>
                                <div class="col-sm-11">
                                    <ul class="tags-list">
                                        <li ng-repeat="tag in grpAutoUpdtCrtra.TagTagType">
                                            <span ng-bind="tag.Name"></span>
                                        </li>

                                        <li ng-if="TagTagTypeMoreTagsData.label">
                                            <span                                             
                                                custom-popover="" 
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                data-label="TagTagTypeMoreTagsData.label"                                           
                                                data-data="TagTagTypeMoreTagsData.tagListHtml"                                            
                                                >
                                            </span>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>

                            <div class="help-block text-right no-margin">This criteria cannot be changed.</div>

                        </div>

                    </div>
                    <div class="modal-body brand-light-bg">   
                        <form class="form-horizontal" name="newsletterGroupForm">    
                            <div class="form-body">
                                <div class="form-group" ng-class="(!NewsletterGroupName && !newsletterGroupForm.NewsletterGroupName.$pristine) ? 'has-error' : '';">
                                    <label class="control-label text-left col-sm-2">List Name</label>    
                                    <div class="col-sm-10"> 
                                        <input type="text" class="form-control" name="NewsletterGroupName" ng-model="NewsletterGroupName" ng-maxlength="60">                            
                                    </div>
                                </div>  
                                <div class="form-group" ng-class="(!NewsletterGroupDescription && !newsletterGroupForm.NewsletterGroupDescription.$pristine) ? 'has-error' : '';">
                                    <label class="control-label text-left col-sm-2">Description</label>    
                                    <div class="col-sm-10"> 
                                        <textarea class="form-control" name="NewsletterGroupDescription" ng-model="NewsletterGroupDescription" ng-maxlength="500"></textarea> 
                                    </div>
                                </div>  


                                <div class="form-group" ng-if="editGroupAutoUpdate"> 
                                    <div class="col-sm-10 col-sm-offset-2">                                        
                                        <div class="text-xs-muted bold">
                                            Select name of the user’s who are forcefully going to add in this criteria.
                                        </div>
                                    </div>
                                </div>   


                                <div class="form-group" ng-if="editGroupAutoUpdate">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <div class="input-icon input-icon-tag tag-scroll right">
                                            <span class="icons">
                                                <i class="ficon-search"></i>
                                            </span>
                                            <tags-input ng-model="userIncludeList" key-property="NewsLetterSubscriberID" display-property="Name" placeholder="Add more users" add-from-autocomplete-only="true">
                                                <auto-complete source="searchUsers($query)" template="search-newsletter-user-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                        <script type="text/ng-template" id="search-newsletter-user-template">
                                            <div class="list-group list-group-thumb xs"> 
                                            <div class="list-group-item">
                                            <div class="list-group-body"> 
                                            <figure class="list-figure">
                                            <img ng-src="{{data.ProfilePictureUrl}}" ng-if="data.ProfilePictureUrl" class="img-circle img-responsive" />
                                            </figure>
                                            <div class="list-group-content">
                                            <div class="list-group-item-heading ellipsis">
                                            <h5 class="list-group-item-heading">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            </h5>
                                            <span class="text-sm-muted" ng-bind="data.Email"></span>
                                            </div>
                                            </div>   
                                            </div>                           
                                            </div>
                                            </div>
                                        </script>
                                    </div>
                                </div>         


                            </div>
                        </form>  
                    </div>
                    <div class="modal-footer">                    
                        <button type="button" class="btn btn-primary" ng-click="createGroup(); clearFooterSelect();">Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>




































    </div>


</div>






<script id="pagination_template.html" type="text/ng-template">                                
    <li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first">
    <a href class="page-link" aria-label="Previous"  ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>
    <span aria-hidden="true"><i class="ficon-arrow-left">                            </i></span>
    <span class="sr-only">Previous</span>
    </a                        >
    </li>
    <li role="menuitem" ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev">
    <a href class="page-link" aria-label="Previous"  ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious(                        )||ngDisabled" uib-tabindex-toggle>
    <span aria-hidden="true"><i class="ficon-arrow-left">                            </i></span>
    <span class="sr-only">Previous</span>
    </a>                                                       
    </li>
    <li role="menuitem" ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled && !page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&&!page.active" uib-tabindex-toggle>{{page.text}}</a></li>
    <li role="menuitem" ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next">
    <a class="page-link" href aria-label="Next"  ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>
    <span aria-hidden="true"><i class="ficon-arrow-right">                            </i></span>
    <span class="sr-only">                    Next</span>
    </a>                             
    </li>
    <li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last">
    <a class="page-link" href aria-label="Next"  ng-click="selectPage(totalPages, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>
    <span aria-hidden="true"><i class="ficon-arrow-right">                            </i></span>
    <span class="sr-only">Next</span>
    </a>                                             
    </li>
</script>



<div ng-include="newsletter_group_user_list_view"></div>