<div class="feed-post-type" ng-init="checkInlineImage(data)">
	<span class="icon feed-icon" ng-cloak ng-if="ShowPostType=='1'">
	  <i class="ficon-article"></i>
	</span>
	<div class="thumbnail thumbnail-default">
	  	<div ng-if="data.Album.length>0" ng-repeat="m in data.Album[0].Media| limitTo:1">
		  	<figure class="img-panel" ng-cloak ng-if="!(m.MediaType == 'Video' && m.ConversionStatus == 'Finished')" ng-click="$emit('showMediaPopupGlobalEmit', m.MediaGUID, '');" ng-class="(m.MediaType == 'Video' && m.ConversionStatus == 'Pending') ? 'processing-red' : ''">   <img ng-src="{{AssetBaseUrl}}img/blank-2x1.png " class="img-full ">		
	            <img ng-if="m.MediaType !== 'Video' && m.MediaFolder !== 'profile'" ng-src="{{ImageServerPath + 'upload/' + m.MediaFolder + '/750x500/' + m.ImageName}}" class="main-img">
	            <img ng-if="m.MediaType !== 'Video' && m.MediaFolder == 'profile'" ng-src="{{ImageServerPath + 'upload/' + m.MediaFolder + '/220x220/' + m.ImageName}}" class="main-img">
	            <img ng-if="m.MediaType == 'Video' && m.ConversionStatus == 'Finished'" ng-src="{{ImageServerPath + 'upload/' + m.MediaFolder + '/750x500/' + m.ImageName.substr(0, m.ImageName.lastIndexOf('.')) + '.jpg'}}" class="main-img">
	            <span class="media-ctrl" ng-if="m.MediaType == 'Video' && m.ConversionStatus == 'Pending'">
	                <i class="ficon-play"></i>
	            </span>
	            <span ng-if="$index == 3 && data.Album[0].TotalMedia > 4" class="more-content" ng-bind="'+' + (data.Album[0].TotalMedia - 4)"></span>
	        </figure>
	        <figure ng-cloak ng-if="m.MediaType == 'Video' && m.ConversionStatus == 'Finished'" class="isVideo">
	            <div class="videoThumbImg">
	                <img ng-src="{{ImageServerPath + 'upload/' + m.MediaFolder + '/750x500/' + m.ImageName.substr(0, m.ImageName.lastIndexOf('.')) + '.jpg'}}" />
	                <a ng-click="play_video_by_thumb(m.MediaGUID)" class="video-btn">
	                    <i class="ficon-play"></i>
	                </a>
	            </div>
	            <div class="myvideo">
	                <div id="v-{{m.MediaGUID}}" ng-init="initJWPlayer(m)"></div>
	            </div>
	        </figure>
	  	</div>
	  	<div ng-if="data.Album.length==0 && data.HaveInlineImage">
                    <figure class="img-panel">   
                        <img ng-src="{{AssetBaseUrl}}img/blank-2x1.png " class="img-full">
	  		<img ng-src="{{data.InlineImage}}" class="main-img"/>
                    </figure>
	  	</div>
	  <div class="caption">
	    <div class="content">                          
	      <h4 class="title"><a ng-href="{{data.ActivityURL}}" ng-bind-html="getPostTitle(data)" target="_self"></a></h4>
	      <p ng-bind-html="textToLinkStripTags(data.PostContent, false, 200)"></p>
	      <span class="permission" ng-if="data.ActivityType=='Share' || data.ActivityType=='ShareSelf'" ng-cloak>
	        <span class="text"><span class="regular ">By</span><a class="name" target="_self" ng-href="{{BaseUrl+data.UserProfileURL}}" ng-bind="data.UserName"></a></span>
	      </span>
	    </div>
	  </div>
	</div>
</div>