$sidebar-width : 250px;
$theme-color : #2A2E49;
$primary-color : #0CBFEB;

$body-bg : #EFEFEF;


$white : #FFFFFF;
$black : #000000;
$red : #FF0101;

$success : #008743;
$pending : #ECA90E;
$failed : #F30000;

$text-color : #030F09; 
$secondary-color : #F8436E;   

$gray-9 : #999999;
$gray-5 : #555555;	
$input-gry-clr : #EDEDED;

//media width
$mac-screen : 1280px;
$width-992 : 992px;
$sidebar-margin-50 : 50px;

$light-color:#2B2E47;