.dfs-create-tournament {
  margin-top: 36px;

  .dfs-white-box {
    background-color: $white;
    padding: 26px;
    margin-top: 22px;
    box-shadow: 0 15px 45px 0 rgba(14, 22, 39, 0.1);

    .Select-control,
    .form-control {
      border: none;
      border-radius: 5px;
      height: 48px;
      background-color: #EDEDED;

      .Select-clear-zone {
        display: none;
      }
    }

    .f-disable {
      background-color: #B8B8B8 !important;

      .Select-control {
        background-color: #B8B8B8 !important;
      }
    }
  }

  .dfs-sel-league {
    .Select-control {
      background-color: #EDEDED !important;
    }

    .Select-value-label {
      line-height: 48px;
    }
  }

  .fixture-label {
    font-family: $font-bold;
    font-size: 18px;
  }

  .dfs-fixture-view {
    background-color: #EDEDED;
    padding: 30px 20px;
    border-radius: 6px;

    .fixture-view-header {
      display: flex;
      justify-content: space-between;
    }

    .line {
      background-color: #D8D8D8;
      height: 1px;
    }

    .select-all-parent {
      input[type="checkbox"] {
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
    }

    .dfs-select-all {
      font-size: 16px;
      font-family: $font-bold;
      vertical-align: super;
    }

    .dfs-search-wrapper {
      .form-control {
        font-family: $font-regular;
        padding: 10px 30px 10px 20px;
        height: 36px;
        width: 310px;
        border-radius: 18px;
        background-color: $white;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
        margin-left: 22px;
      }

      i {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        z-index: 99;
        color: $gray-9;
        padding: 12px 4px;
        cursor: pointer;
      }
    }
  }

  .dfs-label {
    font-family: $font-bold;
    margin-bottom: 8px;
    color: $gray-5;
    font-size: 16px;
    display: block;
  }

  // .react-datepicker-wrapper {
  //   display: block;
  // }

  .dfs-datep {
    height: 48px;
    width: 94%;
    background-color: #EDEDED;
    border: none;
    border-radius: 4px;
    padding: 8px;
  }

  .dfs-sel-league {
    width: 100%;
    border-radius: 4px;
    background-color: #EDEDED;
    .Select-control .Select-placeholder{
      line-height: 2.8;
    }
  }

  .right-selection {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-color: #2A2E49;
    position: absolute;
    right: 15px;
    justify-content: flex-end;
    top: 10px;
    padding-left: 0px;
    align-items: center;
    border-bottom-left-radius: 27px;
    border-top-right-radius: 12px;

    @media (min-width: 1650px) {
      top: 12px;
      right: 22px;
    }

    .rght-img {
      width: 24px;
      height: 22px;
    }
  }

  .fixture-row {
    margin-left: 0;
    margin-right: 0;
  }

  .fixture-data {
    padding: 10px;
    margin-top: 10px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-view {
      display: flex;
      flex-direction: column;
      margin: 8px;
    }

    .team-image {
      height: 35px;
      width: 35px;

    }

    .team-name {
      color: #212121;
      font-family: $font-bold;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      text-align: center;
    }

    .time {
      color: #EB4A3C;
      font-family: $font-bold;
      font-size: 10px;
      font-weight: bold;
      line-height: 13px;
      text-align: center;
    }
  }

  .right-item {
    display: flex;

  }

  .dfs-filter-dopdown {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    background-color: $white;

    .Select-menu-outer {
      margin-top: 2px;
      border-radius: 0;
      border: none;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);

      div {
        border-radius: 0;
        background-color: transparent;

        &:hover {
          background-color: transparent;
          border-radius: 0;
        }
      }
    }

    .Select-control {
      border: none;
      border-radius: 15px;
      height: 35px;
      background-color: $white;

      .Select-clear-zone {
        display: none;
      }

      .Select-placeholder {
        padding-top: 7px;
        padding-left: 12px;
      }

      .Select-value {
        padding-top: 2px;
        padding-right: 0px !important;
      }

      .Select-multi-value-wrapper {
        height: 35px;

        .Select-value-label {
          color: $black !important;
          font-family: $font-bold;
          font-size: 12px;
        }
      }
    }
  }

  .dfs-upload {
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    border: 1px solid $gray-9;
    border-radius: 4px;
    color: $gray-9;
    font-family: $font-bold;
    font-size: 16px;
    padding-top: 2px;
    text-align: center;
    cursor: pointer;
  }

  .dfs-uplogo-box {
    .uplogo-btn {
      float: left;
      margin-right: 80px;
    }

    .dfs-image-box {
      float: left;
      width: 280px;
      height: 180px;
      position: relative;
      .img-cover {
        border-radius: 8px;
        object-fit: contain;
      }

    }
  }
  .changes_box{
    position: absolute!important;
  }
  .mt-50{
    margin-top: 50px;
  }

  .mb-50{
    margin-top: 50px;
  }

  li.coupons-option-item {
    margin-bottom: 9px;
  }

  .dfs-up-btn {
    position: absolute;
    opacity: 0;
  }

  .dfs-remove-img {
    color: $secondary-color;
    font-family: $font-bold;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    right: -60%;
    bottom: 0;
  }

  .dfs-sel-fx {
    color: $gray-9;
  }

  .dfs-uplogo-box {
    margin-top: 26px;
  }

  .mr-t {
    margin-top: 0px!important;
  }

  .dfs-btn-sub {
    text-align: center;
    margin-top: 28px;

    .btn {
      height: 36px;
      width: 132px;
    }
  }

  .dfs-sponsor-box {
    .com-chekbox-container {
      font-size: 16px;
    }
  }

  .dfs-btn-txt {
    float: left;
    text-align: center;

    input[type="file"] {
      width: 150px;
    }
  }

  .dfs-banner-sz {
    color: $gray-9;
    font-family: $font-bold;
    font-size: 12px;
    margin-top: 6px;
  }

  .dfs-banner-text {
    margin-top: 8px;
    float: left;
    margin-left: 16px;
    color: $gray-9;
    font-family: $font-bold;
    font-size: 12px;
  }

  .dfs-banner-img {
    width: 100%;
    max-width: 334px;
    height: 60px;
    margin-top: 30px;
    position: relative;

    .icon-close {
      cursor: pointer;
      position: absolute;
      color: $white;
      right: -10px;
      top: -10px;
      padding: 4px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 100%;
    }
  }

  /* Start distribution table  */
  .prize-dist-table {
    .prize-type {
      .Select-control {
        height: 38px !important;
      }
    }

    .form-control {
      height: 38px !important;
    }

    .head-title {
      margin: 14px 70px;
    }

    .rank-input {
      width: 80px;
    }

    .prize-type {
      width: 200px;
    }

    .fx-distribution {
      .form-control {
        width: 200px;
      }
    }

    .dfs-btn-wdt {
      width: 70%;
      float: left;
    }

    .add-prize-btn {
      // width: 75%;
      // float: left;
      max-width: 600px;
    }

    .dfs-tot-dtl {
      color: #030F09;
      font-family: $font-bold;
      font-size: 16px;
    }

    .dfs-real {
      color: $gray-9;
    }

    .dfs-total-dis {
      text-align: center;
      width: 30%;
      float: left;
    }

    .dfs-tot-sty {
      margin: 34px 40px;
      float: left;
    }

    .dfs-total-prz {
      margin-left: 34px;
      margin-top: 20px;
    }
  }

  .pd-select {
    .Select-control {
      background-color: #EDEDED !important;
    }
  }

  /*End distribution table */
  .view-picks {
    margin: 0;

    .home-left,
    .home-right {
      min-height: 80px;
      height: 80px;
    }

    .cricket-fixture-card {
      margin-top: 12px;
      margin-bottom: 0;
      min-height: 100px;
    }

    .live-comp-date {
      border-bottom: 1px solid #EAEAEA;
    }
  }

  .dfs-setp-stype {
    float: left;
    width: 300px;
  }

  .pick-option {
    font-size: 12px;
    margin-top: 6px;
  }

  .dfs-cur-sel {
    float: left;
    width: 58px;
    margin-right: 4px;

    .Select-control {
      background-color: #EDEDED !important;
    }

    .Select-value-label {
      line-height: 48px;
    }
  }

  .t-name {
    float: left;
    max-width: 150px;
  }

  .dfs-ml-minus {
    margin-left: -82px;

    @media (max-width: 1281px) {
      margin-left: -62px;
    }

    @media (min-width: 1500px) {
      margin-left: -126px;
    }
  }

  .dfst.common-fixture {
    .bg-card {
      height: 90px;
      padding: 20px 16px 12px;

      .right-selection {
        right: 10px;
      }
    }
  }
  .ent-text{
    margin-top: 4px;
    float: left;
    width: 100%;
  }
}

.Ccalender {
    position: relative;
    top: -33px;
    left: 82%;
    z-index: 9!important; 
}
// .trntcalender{left: 65%!important;}
.inPutBg .Select-control {
  background-color: initial;
}

.inPutBg .react-datepicker-wrapper {
  z-index: 2;
  cursor: pointer;
  position: relative;
}
.inPut {
  width: 90%!important;
}
.react-datepicker {
  display: inline-flex!important;
}

.text-low-color {
  opacity: 0.5;
}


@media only screen and (max-width: 1500px) and (min-width: 900px)  {
  .trntcalender {
    left: 81% !important;
}
}

@media only screen and (max-width: 2200px) and (min-width: 1940px)  {
  .trntcalender {
    left: 55% !important;
}
}

.inPutBg .react-datepicker-wrapper{
  width:100% !important;
}

