.DS_Store
.elasticbeanstalk/
application/sessions/*
!application/sessions/index.html
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/v1/cache/*
!application/v1/cache/index.html
!application/v1/cache/.htaccess
application/v1/logs/*
!application/v1/logs/index.html
!application/v1/logs/.htaccess

application/v2/cache/*
!application/v2/cache/index.html
!application/v2/cache/.htaccess
application/v2/logs/*
!application/v2/logs/index.html
!application/v2/logs/.htaccess

application/v3/cache/*
!application/v3/cache/index.html
!application/v3/cache/.htaccess
application/v3/logs/*
!application/v3/logs/index.html
!application/v3/logs/.htaccess

upload/*
!/upload/index.html
!/upload/profile
!/upload/profilebanner
!/upload/wall
!/upload/comments
!/upload/group
!/upload/album
!/upload/messages
!/upload/ratings
!/upload/captcha
!/upload/settings
!/upload/category
!/upload/gallery
!/upload/tags
!/upload/quiz

/upload/profile/*
/upload/profilebanner/*
/upload/wall/*
/upload/comments/*
/upload/group/*
/upload/album/*
/upload/messages/*
/upload/ratings/*
/upload/captcha/*
/upload/category/*
/upload/settings/*
/upload/gallery/*
/upload/tags/*
/upload/quiz/*

!/upload/wall/index.html
!/upload/profile/index.html
!/upload/profilebanner/index.html
!/upload/comments/index.html
!/upload/group/index.html
!/upload/album/index.html
!/upload/messages/index.html
!/upload/ratings/index.html
!/upload/captcha/index.html
!/upload/gallery/index.html
!/upload/tags/index.html
!/upload/quiz/index.html
!.idea/*
!/upload/csv_file
!/upload/csv_file/SampleFile.csv

!/upload/profilebanner/event_banner.jpg
!/upload/profilebanner/1200x300/event_banner.jpg
!/upload/profilebanner/220x220/event_banner.jpg

!/upload/profile/default-148.png
!/upload/profile/36x36/default-148.png
!/upload/profile/56x56/default-148.png
!/upload/profile/220x220/default-148.png
!/upload/profile/196x196/default-148.png

!/upload/profile/user_default.jpg
!/upload/profile/36x36/user_default.jpg
!/upload/profile/56x56/user_default.jpg
!/upload/profile/196x196/user_default.jpg
!/upload/profile/220x220/user_default.jpg

!/upload/profile/category_default.png
!/upload/profile/36x36/category_default.png
!/upload/profile/56x56/category_default.png
!/upload/profile/220x220/category_default.png
!/upload/profile/196x196/category_default.png

!/upload/profile/artist_band_public.png
!/upload/profile/36x36/artist_band_public.png
!/upload/profile/56x56/artist_band_public.png
!/upload/profile/220x220/artist_band_public.png
!/upload/profile/196x196/artist_band_public.png

!/upload/profile/brand_product.png
!/upload/profile/36x36/brand_product.png
!/upload/profile/56x56/brand_product.png
!/upload/profile/220x220/brand_product.png
!/upload/profile/196x196/brand_product.png

!/upload/profile/cause_community.png
!/upload/profile/36x36/cause_community.png
!/upload/profile/56x56/cause_community.png
!/upload/profile/220x220/cause_community.png
!/upload/profile/196x196/cause_community.png

!/upload/profile/entertainment.png
!/upload/profile/36x36/entertainment.png
!/upload/profile/56x56/entertainment.png
!/upload/profile/220x220/entertainment.png
!/upload/profile/196x196/entertainment.png

!/upload/profile/local_business.png
!/upload/profile/36x36/local_business.png
!/upload/profile/56x56/local_business.png
!/upload/profile/220x220/local_business.png
!/upload/profile/196x196/local_business.png

!/upload/profile/organization.png
!/upload/profile/36x36/organization.png
!/upload/profile/56x56/organization.png
!/upload/profile/220x220/organization.png
!/upload/profile/196x196/organization.png

!/upload/profile/group-no-img.jpg
!/upload/profile/36x36/group-no-img.jpg
!/upload/profile/56x56/group-no-img.jpg
!/upload/profile/220x220/group-no-img.jpg
!/upload/profile/196x196/group-no-img.jpg

!/upload/profile/event-placeholder.png
!/upload/profile/36x36/event-placeholder.png
!/upload/profile/56x56/event-placeholder.png
!/upload/profile/220x220/event-placeholder.png
!/upload/profile/196x196/event-placeholder.png

!/upload/profile/thumb.png
!/upload/profile/36x36/thumb.png
!/upload/profile/56x56/thumb.png
!/upload/profile/220x220/thumb.png
!/upload/profile/196x196/thumb.png

!/upload/profile/thumb.jpg
!/upload/profile/36x36/thumb.jpg
!/upload/profile/56x56/thumb.jpg
!/upload/profile/220x220/thumb.jpg
!/upload/profile/196x196/thumb.jpg

!/upload/profile/icon_artist_band_public.png
!/upload/profile/36x36/icon_artist_band_public.png
!/upload/profile/56x56/icon_artist_band_public.png
!/upload/profile/220x220/icon_artist_band_public.png
!/upload/profile/196x196/icon_artist_band_public.png

!/upload/profile/icon_brand_product.png
!/upload/profile/36x36/icon_brand_product.png
!/upload/profile/56x56/icon_brand_product.png
!/upload/profile/220x220/icon_brand_product.png
!/upload/profile/196x196/icon_brand_product.png

!/upload/profile/icon_cause_community.png
!/upload/profile/36x36/icon_cause_community.png
!/upload/profile/56x56/icon_cause_community.png
!/upload/profile/220x220/icon_cause_community.png
!/upload/profile/196x196/icon_cause_community.png

!/upload/profile/icon_entertainment.png
!/upload/profile/36x36/icon_entertainment.png
!/upload/profile/56x56/icon_entertainment.png
!/upload/profile/220x220/icon_entertainment.png
!/upload/profile/196x196/icon_entertainment.png

!/upload/profile/icon_local_business.png
!/upload/profile/36x36/icon_local_business.png
!/upload/profile/56x56/icon_local_business.png
!/upload/profile/220x220/icon_local_business.png
!/upload/profile/196x196/icon_local_business.png

!/upload/profile/icon_organization.png
!/upload/profile/36x36/icon_organization.png
!/upload/profile/56x56/icon_organization.png
!/upload/profile/220x220/icon_organization.png
!/upload/profile/196x196/icon_organization.png
!/upload/blank-profile.jpg

!/upload/profilebanner/event_banner.jpg
!/upload/profilebanner/220x220/event_banner.jpg

!/upload/category/default-img.jpg
!/upload/category/220x220/default-img.jpg

application/controllers/code_review.php
application/views/code_review.php
docs/
nbproject/*
nbproject/private
node-server/
videos/connection.php
videos/uploads
node_modules/
node_modules/*
.htaccess

sw.js
adminer.php

/composer.lock
vendor/*
db/*

/swagger/*
/swagger/vendor
/swagger/vendor/*
/swagger/composer.json
/swagger/composer.lock
.idea/*

/gulp/*
/gulprtc/*
/assets/dist/*

/.env