.addact-modal {
  .act-type {
    color: #9398A0;
    font-family: $font-bold;
    font-size: 12px;
    padding-top: 6px;
    display: inline-block;
  }

  .input-box {
    padding: 10px 0;
  }
}

.xp-sel-title {
  font-size: 20px;
  font-family: $font-black;
}
